footer
    .container
        .row
            .col-md-6
                .about-me
                    .col-md-4
                        img.img(src='images/img2.jpg')
                    .col-md-8
                        h3 关于我们
                        p 
                            |北冥逐日是一个由
                            a(src='#') 42网络技术小组
                            |创立，为东软全校师生提供全方面服务的网站。它于2003年10月19号正式上线，致力于打造东软校园非官方专业门户。
                        a(src='#') 合作推广
                         span.v-line |
                        a(src='#') 合作推广
                         span.v-line |
                        a(src='#') 合作推广
            .col-md-3
                .contact
                    h3 联系我们
                    span.glyphicon.glyphicon-envelope
                    p 42team@nou.com.cn
                    h3 版权所有
                    p &copy;2003-2017 42Team. All Rights Reserved.
            .col-md-3
                    p 扫描微信二维码实时关注校园动态
                    img.wechat.img(src='images/wechat.jpg')
                    canvas(height="200" width="200")