nav.navbar.navbar-default
    .container
        .row
            .col-md-12.navbar-header
                ul.nav.navbar-nav
                    li: a(href='#') 校园导航
                    li: a(href='#') 新闻社区
                    li: a(href='#') 新媒体中心
                    li: a(href='#') 淘淘
                    li.dropdown: a.dropdown-toggle(data-toggle='dropdown' href='#' role='button' aria-haspopup='true' aria-expanded='false') 更多
                        span.caret
                        ul.dropdown-menu
                            li: a(href='#') 软件中心
                            li: a(href='#') 乐乐
                p.navbar-right.navbar-text.time 正在加载...
