doctype html
html
  head
    title= title
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet',href='/bootstrap-3.3.7-dist/css/bootstrap.min.css')
  body
    include includes/nav.jade
    block content
    include includes/footer.jade
    script(src='/javascripts/jquery.js')
    script(src='/bootstrap-3.3.7-dist/js/bootstrap.min.js')
    script(src='/javascripts/class-library.js')
    script(src='/javascripts/load.js')