extend layout

block head
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/index.css')
    link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
block content
  include includes/nav.jade
  #carousel
    .container
      .row
        .col-md-12
          #carousel-container.carousel.slide(data-ride='carousel')
            .carousel-inner
              .item.active: img(src='images/wallpaper.jpg')
              .item: img(src='images/wallpaper2.jpg')
            ol.carousel-indicators
              li(data-slide-to='0' data-target='#carousel-container')
              li(data-slide-to='1' data-target='#carousel-container')
            a.left.carousel-control(data-slide='prev' href='#carousel-container'): span.glyphicon.glyphicon-chevron-left
            a.right.carousel-control(data-slide='next' href='#carousel-container'): span.glyphicon.glyphicon-chevron-right

  section
    .container
      .row
        .col-md-12
          #note.row
            .icon-box
              span.glyphicon.glyphicon-heart
            .content-box
              //-这里我想让他滚动 
              p 每日新闻:近日我校将举办大型春季运动会  
          .row
            .col-md-9
              #news.module-box
                .col-md-11
                  .news-nav-box
                    ul.nav.nav-tabs
                      li.active: a(href='#') 学校公告
                      li: a(href='#') 校园新鲜事
                      li: a(href='#') 科技FUN
                      li: a(href='#') 更多
                  .news-content-box
                    .news-images.module-images
                      ul.list-inline
                        -for (var i=0;i<3;i++)
                          li
                            a(href=''): img(src='images/img1.jpg')
                            a(href=''): h4 正在加载中......
                    .news-lists
                      .col-md-6
                        ul
                          -for(var i=0;i<5;i++)
                            li
                              a(href='') 正在加载......
                      .col-md-6
                        ul
                          -for(var i=0;i<5;i++)
                            li
                              a(href='') 正在加载......
                .col-md-1.side-control(data-area='news')
                  a(href='#'): span.glyphicon.glyphicon-menu-up
                  a(href='#'): span.glyphicon.glyphicon-menu-down
              #movies.module-box
                .col-md-11
                  .movies-nav-box
                    ul.nav.nav-tabs
                      li.active: a(href='#') 近日更新
                      li: a(href='#') 热门推荐
                      li: a(href='#') 电影
                      li: a(href='#') 动漫
                      li: a(href='#') 更多
                  .movies-lists.module-images
                    ul.list-inline
                      -for (var i=0;i<6;i++)
                        li
                          a(href=''): img(src='images/img1.jpg')
                          a(href=''): h4 正在加载中......
                .col-md-1.side-control(data-area='movies')
                  a(href='#'): span.glyphicon.glyphicon-menu-up
                  a(href='#'): span.glyphicon.glyphicon-menu-down
              #softs.module-box
                .col-md-11
                  .softs-nav-box
                    ul.nav.nav-tabs
                      li.active: a(href='#') 热门下载
                      li: a(href='#') 设计类软件
                      li: a(href='#') 开发类软件
                      li: a(href='#') 更多
                  .softs-lists
                    .list-group.module-images
                      -for (var i=0;i<8;i++)
                        a.list-group-item(href='') #{i+1}.
                          p.softText  正在加载中...
                          p.softSize
                            |大小：
                            span 未知
                            |Mb
                .col-md-1.side-control(data-area='softs')
                  a(href='#'): span.glyphicon.glyphicon-menu-up
                  a(href='#'): span.glyphicon.glyphicon-menu-down
            .col-md-3
              .sch-nav
                #accordion.panel-group
                    button.btn.btn-primary(type='button' data-toggle='collapse'  href='#hot-nav') 热门导航
                    #hot-nav.panel-collapse.collapse.in
                      .panel-body
                        .col-md-6
                          ul.list-unstyled
                            li: a(href='#') >&nbsp;热门下载
                            li: a(href='#') >&nbsp;设计类软件
                            li: a(href='#') >&nbsp;开发类软件
                            li: a(href='#') >&nbsp;更多
                        .col-md-6
                          ul.list-unstyled
                            li: a(href='#') >&nbsp;热门下载
                            li: a(href='#') >&nbsp;设计类软件
                            li: a(href='#') >&nbsp;开发类软件
                            li: a(href='#') >&nbsp;更多
                    button.btn.btn-primary(type='button' data-toggle='collapse' href='#site-nav') 站内导航
                    #site-nav.panel-collapse.collapse
                      .panel-body
                        .col-md-6
                          ul.list-unstyled
                            li: a(href='#') >&nbsp;热门下载
                            li: a(href='#') >&nbsp;设计类软件
                            li: a(href='#') >&nbsp;开发类软件
                            li: a(href='#') >&nbsp;更多
                        .col-md-6
                          ul.list-unstyled
                            li: a(href='#') >&nbsp;热门下载
                            li: a(href='#') >&nbsp;设计类软件
                            li: a(href='#') >&nbsp;开发类软件
                            li: a(href='#') >&nbsp;更多
               .notice
                .panel.panel-primary
                  .panel-heading 42公告
                  .panel-body
                    p 正在加载中...
                    a(href='') more
              #ad: img(src='images/ad.jpg')
  include includes/footer.jade
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/load.js')
  
