/*模块共用部分 start*/
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
ul.nav-tabs>li>a{
  font-size: 20px;
}
.module-box{
  margin: 10px -30px 0;
}

.module-images>ul>li{
  height: 33.333333%;
  width: 33.333333%
}
.module-images>ul>li>a{
  display: inline-block;
  width: 100%;
  height: 100%;
}
.module-images>ul>li>a>h4{
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*模块共用部分 end*/


/*顶部样式开始*/


/*顶部样式结束*/

/*头部滚动图开始*/
#carousel{
  background-color: black;
}
/*头部滚动图结束*/

/*主题开始*/
#note{
  margin-top: 10px;
  line-height: 30px;
  vertical-align: middle;
  background-color: limegreen;
  border-radius: 30px;
  height: 30px;
}
.icon-box{
  width: 5%;
  float: left;
  padding-left:3%; 
}
.content-box{
  display: inline-block;
  padding: 0 20px;
  margin:0 -20px;
  width: 95%;
}
#note>span{
  color: lightcoral;
}
/*新闻模块开始*/

.news-lists>div>ul{
  padding-left: 0;
}
.side-control>a{
  display: block;
  margin: 10px 0;
}
.side-control>a>span{
  font-size: 40px;
}
/*新闻模块结束*/
/*软件模块开始*/
.softs-lists>div>a.list-group-item>p{
  width: 20%;
  float: right;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
/*软件模块结束*/